@import "tailwindcss";


@theme{
    --color-primary:#00b128;
    --color-hover-color:#1a8d3f
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}